@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: OpenSans, Arial, Helvetica, Tahoma, sans-serif;
  font-size: 18px;
  color: #021725;
  background: #fff;
}

a {
  color: #021725;
}

a:hover {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: OpenSans;
  font-weight: 600;
  line-height: 50px;
  color: inherit;
}

h1, .h1 {
  font-size: 80px;
  margin: 0 0;
}

h2, .h2 {
  font-size: 44px;
  margin: 0 0;
}

h3, .h3 {
  font-size: 30px;
  margin: 0 0;
}

h4, .h4 {
  font-size: 21px;
  margin: 0 0;
}

h5, .h5 {
  font-size: 13px;
  margin: 0 0;
}

h6, .h6 {
  font-size: 16px;
  margin: 2px 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.brand-color {
  color: #b7a172;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 15px 40px;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.5s;
}

.btn:hover {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s;
}

.btn.disabled, .btn[disabled],
fieldset[disabled] .btn {
  cursor: disabled;
  opacity: .65;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn--brand {
  color: #021725;
  background-color: transparent;
  border-color: #021725;
}

.btn--brand:hover {
  color: #fff;
  background-color: #021725;
  border-color: #021725;
}

.btn--brand:active, .btn--brand.active {
  color: #fff;
  background-color: #021725;
  border-color: #021725;
}

.btn--brand.disabled, .btn--brand.disabled:hover, .btn--brand.disabled:focus, .btn--brand.disabled.focus, .btn--brand.disabled:active, .btn--brand.disabled.active, .btn--brand[disabled], .btn--brand[disabled]:hover, .btn--brand[disabled]:focus, .btn--brand[disabled].focus, .btn--brand[disabled]:active, .btn--brand[disabled].active,
fieldset[disabled] .btn--brand,
fieldset[disabled] .btn--brand:hover,
fieldset[disabled] .btn--brand:focus,
fieldset[disabled] .btn--brand.focus,
fieldset[disabled] .btn--brand:active,
fieldset[disabled] .btn--brand.active {
  background-color: transparent;
  border-color: #021725;
}

.btn--link {
  color: #021725;
  font-weight: normal;
  border-radius: 0;
}

.btn--link, .btn--link:active, .btn--link.active, .btn--link[disabled],
fieldset[disabled] .btn--link {
  background-color: transparent;
  box-shadow: none;
}

.btn--link, .btn--link:hover, .btn--link:focus, .btn--link:active {
  border-color: transparent;
}

.btn--link:hover, .btn--link:focus {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.btn--link[disabled]:hover, .btn--link[disabled]:focus,
fieldset[disabled] .btn--link:hover,
fieldset[disabled] .btn--link:focus {
  color: #ccc;
  text-decoration: none;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--block + .btn--block {
  margin-top: 5px;
}

input[type="submit"].btn--block,
input[type="reset"].btn--block,
input[type="button"].btn--block {
  width: 100%;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

.form__group {
  margin-bottom: 15px;
}

.form__control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8.5px 10px;
  font-size: 16px;
  line-height: 1.4;
  color: #021725;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
}

.form__control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form__control::-webkit-input-placeholder {
  color: #999;
}

.form__control:-ms-input-placeholder {
  color: #999;
}

.form__control::placeholder {
  color: #999;
}

.form__control.placeholder {
  color: #999 !important;
}

.form__control:focus::-moz-placeholder {
  color: transparent;
}

.form__control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__control:focus:-ms-input-placeholder {
  color: transparent;
}

.form__control:focus::placeholder {
  color: transparent;
}

.form__control:focus {
  border-color: #66afe9;
  outline: 0;
}

.form__control::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}

.form__control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form__control:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}

.form__control::placeholder {
  color: #999;
  opacity: 1;
}

.form__control[disabled], .form__control[readonly],
fieldset[disabled] .form__control {
  background-color: #ccc;
  opacity: 1;
}

.form__control[disabled],
fieldset[disabled] .form__control {
  cursor: disabled;
}

.form__label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.form_help {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #09629e;
}

textarea.form__control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

.block--header {
  background: url(../images/header-bg.jpg) center;
  background-size: cover;
  min-height: 700px;
  position: relative;
}

.block--pd-md {
  padding: 40px 0;
}

.block--pd-sm {
  padding: 25px 0;
}

.block--gray {
  background: #eee;
}

@media screen and (max-width: 768px) {
  .block--header {
    min-height: 400px;
  }
}

@media screen and (max-width: 544px) {
  .block--pd-md {
    padding: 20px 0;
  }
}

.wrapper-block {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}

.wrapper-block--header {
  max-width: 1185px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper-block {
    padding: 0 20px;
  }
}

.header__top {
  padding: 15px 20px;
}

.header__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
}

.header__title {
  color: #fff;
  font-weight: 300;
  line-height: 60px;
  padding: 0 20px;
}

.header__hamburger {
  cursor: pointer;
  margin-top: 10px;
}

.header__hamburger-title {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.header__hamburger-icon {
  color: #fff;
  margin-left: 4px;
  font-size: 19px;
  vertical-align: text-bottom;
  display: inline-block;
  vertical-align: bottom;
}

@media screen and (max-width: 768px) {
  .header__top {
    padding: 15px 0px;
  }
}

@media screen and (max-width: 544px) {
  .header__hamburger {
    margin-top: 5px;
  }
  .header__title {
    font-size: 50px;
  }
  .header__hamburger-title {
    display: none;
  }
  .header__hamburger-icon {
    font-size: 30px;
  }
}

.heading__subtitle {
  color: #d4af37;
  text-transform: uppercase;
}

.heading__title {
  margin-bottom: 30px;
  opacity: 0.7;
}

.heading__text {
  line-height: 32px;
  margin-bottom: 30px;
}

@media screen and (max-width: 544px) {
  .heading__title {
    font-size: 30px;
  }
  .heading__text {
    font-size: 15px;
  }
}

.portfolio {
  width: 100%;
}

.portfolio__box {
  float: left;
  width: 25%;
  padding: 1px;
}

.portfolio__img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .portfolio__box {
    width: 50%;
  }
}

@media screen and (max-width: 544px) {
  .portfolio__box {
    width: 100%;
  }
}

.p-cards {
  width: 100%;
}

.p-cards__card {
  width: 33.333%;
  padding: 0 2px;
  float: left;
}

.p-cards__img {
  width: 100%;
}

.p-cards__bottom {
  background-color: #f9f9f9;
  min-height: 230px;
  padding: 20px 15px;
}

.p-cards__subtitle {
  color: #d4af37;
  text-transform: uppercase;
  line-height: 30px;
}

.p-cards__title {
  margin-bottom: 15px;
  line-height: 30px;
  opacity: 0.7;
}

.p-cards__description {
  font-size: 13px;
  line-height: 23px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .p-cards__card {
    width: 100%;
    margin-bottom: 15px;
  }
}

.blog {
  width: 100%;
  margin-bottom: 50px;
}

.blog__img-box {
  width: 50%;
  float: left;
}

.blog__img {
  width: 100%;
}

.blog__text-box {
  background-color: #f9f9f9;
  min-height: 390px;
  padding: 30px;
  width: 50%;
  float: left;
}

.blog__subtitle {
  color: #505d68;
  text-transform: uppercase;
}

.blog__title {
  color: #505d68;
  line-height: 30px;
  margin-bottom: 25px;
}

.blog__description {
  color: #505d68;
  margin-bottom: 45px;
  font-weight: 300;
  line-height: 25px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .blog__img-box {
    width: 100%;
  }
  .blog__text-box {
    width: 100%;
    min-height: 0;
  }
}

@media screen and (max-width: 544px) {
  .blog__title {
    font-size: 25px;
  }
  .blog__description {
    font-size: 14px;
  }
}

.contact {
  background-color: #f9f9f9;
}

.contact__box {
  width: 50%;
  float: left;
  padding: 30px 40px;
}

.contact__title {
  color: #505d68;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contact__description {
  font-weight: 300;
  display: block;
  line-height: 34px;
}

@media screen and (max-width: 768px) {
  .contact__box {
    width: 50%;
    padding: 30px 14px;
  }
}

@media screen and (max-width: 544px) {
  .contact__box {
    padding: 20px 14px;
    width: 100%;
  }
}

.footer__description {
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  line-height: 34px;
  color: #505d68;
}

@media screen and (max-width: 768px) {
  .footer__description {
    font-size: 14px;
    float: none;
    display: block;
  }
}

@media screen and (max-width: 544px) {
  .footer__description {
    font-size: 12px;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?kguvqa");
  src: url("../fonts/icomoon.eot?kguvqa#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?kguvqa") format("truetype"), url("../fonts/icomoon.woff?kguvqa") format("woff"), url("../fonts/icomoon.svg?kguvqa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "î¤€";
}

/*! Pushy - v1.0.0 - 2016-3-1
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #191918;
  overflow: auto;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}

.pushy a {
  display: block;
  color: #b3b3b1;
  padding: 15px 30px;
  text-decoration: none;
  outline: 0;
  text-transform: uppercase;
}

.pushy a:hover {
  color: #FFF;
}

.pushy ul:first-child {
  margin-top: 10px;
}

.pushy.pushy-left {
  left: 0;
}

.pushy.pushy-right {
  right: 0;
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99), -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Icon */
}

.pushy-submenu ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out;
}

.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}

.pushy-submenu > a {
  position: relative;
}

.pushy-submenu > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("../img/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
}

.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open {
  /* Submenu Icon */
}

.pushy-submenu-open ul {
  max-height: 1000px;
}

.pushy-submenu-open .pushy-link {
  opacity: 1;
}

.pushy-submenu-open a::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.no-csstransforms3d .pushy-submenu-closed ul {
  max-height: none;
  display: none;
}

#googleMap {
  width: 100%;
  height: 300px;
}
